<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <form name="addingForm" action="/add" method="post">
    <p> Product Name: <input id="productName" name="productName" type="text"/>
    </p>
    <p> Product Description: <input  id="productDescription"
                                    name="productDescription" type="text"/></p>
    <input type="submit" value="SUBMIT"/>
</form>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>